<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders page</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
    <h1>All Orders</h1>
    <nav>
        <menu>
            <li><a href="/">Global Home</a></li>
            <li><a href="/app/home/">Home page</a></li>
            <li><a href="/app/about/">About Us</a></li>
            <li><a href="/app/contact/">Contact Us</a></li>
            <li><a href="/app/orders/">All Orders</a></li>
        </menu>
    </nav>
    <h2>Orders page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam eaque officia molestiae, eius repudiandae dolor nostrum id deserunt et reiciendis. Beatae consequuntur blanditiis odit vitae esse eum neque enim? Quae, praesentium placeat possimus ab ut ex obcaecati voluptas officiis earum quos distinctio eaque totam nulla eveniet. Officia nesciunt aspernatur aliquid.</p>
</body>
</html>