<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Project</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
    <h1>All orders page</h1>
    <nav>
        <menu>
            <li><a href="/app/home/">Home</a></li>
            <li><a href="/app/about/">About</a></li>
            <li><a href="/app/contact/">Contact</a></li>
            <li><a href="/orders/all_orders/">Orders</a></li>
        </menu>
    </nav>
    <h2>Orders Management</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore nemo maxime nulla delectus consequatur, sint explicabo hic quidem in perspiciatis id magnam laudantium sequi laboriosam nihil provident placeat neque labore deleniti mollitia iste inventore dolorem? Quasi vel voluptas accusantium! Incidunt atque non dolorum enim quo? Explicabo quasi iusto repellendus adipisci.</p>
</body>
</html>